@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    background-image: url("/banner.jpg");
    background-color: rgba(
        0,
        0,
        0,
        0.5
    ); /* Cambia el valor alpha para ajustar la intensidad del desenfoque */
    backdrop-filter: blur(3px);
}
